DirectoryIndex dist/index.html

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^api/ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ dist/index.html [L]
</IfModule>